.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 95vh;
}

.topContainer{
  display: flex;
  justify-content: row;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
  gap: 20px;
}

.inputTitle{
  width: 300px;
  height: 30px;
  border: 1px solid gray;
  padding: 0 10px;
}

.cardContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;

}

.total{
  margin: 20px 0;
}

@media only screen and (max-width: 580px){
  .cardContainer{
    margin: 0 10px
  }

}

